

.container{

    display: flex;
    flex-direction: row;
}
.list{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 60rem;


}
.detail{
    width: 100%;
}

.example-card{
    margin-top: 10px;
}


.search-results {
    height: 100px;
    overflow-y: scroll;
  }


